/* common.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    width: 150px; /* 로고의 너비 조정 */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f00;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    header {
        align-items: center;
        padding: 10px; /* 반응형에서 헤더 전체에 패딩 적용 */
    }

    .logo {
        width: 100px; /* 로고 크기 조정 */
        margin-bottom: 10px; /* 로고와 네비게이션 사이 여백 추가 */
    }

    nav ul {
        align-items: flex-start;
    }

    nav ul li {
        margin-right: 10px; /* 우측 여백 제거 */
        margin-bottom: 10px; /* 메뉴 아이템 간의 여백 추가 */
    }

    nav ul li:last-child {
        margin-bottom: 0; /* 마지막 메뉴 아이템의 여백 제거 */
    }

    nav ul li a {
        font-size: 14px; /* 작은 화면에서 폰트 사이즈 조정 */
    }
    
    nav ul li a:hover {
        color: #f00;
    }
}
