/* faq.css */
#faq {
    padding: 20px;
}

#inquireButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff0050;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#inquireButton:hover {
    background-color: #e60045;
}
