body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.width-100 {
    width: 100%;
}

.form-section {
    margin: 20px;
}

input[type="text"], input[type="email"], input[type="file"], select, textarea, input[type="submit"] {
    display: block;
    width: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.phone-input input {
    display: inline-block;
    width: calc(30% - 14px);
    margin: 5px 5px;
}

.email-input input, .email-input select {
    display: inline-block;
    width: calc(50% - 10px);
    margin: 5px 5px;
}

textarea {
    height: 100px;
}

.privacy-policy {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.submit-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pc-only {
    display: block;
}

.tab-only, .mobile-only {
    display: none;
}

@media (max-width: 1024px) {
    .pc-only {
        display: none;
    }
    .tab-only {
        display: block;
    }
}

@media (max-width: 768px) {
    .tab-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }

    input[type="text"], input[type="email"], input[type="file"], select, textarea, input[type="submit"] {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    .phone-input input {
        width: calc(100% / 3 - 14px);
        margin: 0 5px;
    }

    .email-input input, .email-input select {
        width: calc(50% - 10px);
        margin: 0 5px;
    }
}
