/* faq_detail.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Black background */
    color: #FFF; 
}

.width-100 {
    width: 100%;
}

.form-section {
    margin: 20px;
}
input[type="text"], input[type="email"], input[type="file"], select, textarea, input[type="submit"] {
    display: block;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #ccc;
    background-color: #000;
    border-radius: 5px;
}

.phone-input input {
    display: inline-block;
    margin: 5px 5px;
}

.email-input input, .email-input select {
    display: inline-block;
    width: 260px;
    border: 1px solid #ccc;
    margin: 5px 5px;
}

textarea {
    height: 100px;
}

.privacy-policy {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.submit-button.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.email-input {
    display: flex;
    align-items: center;
}

.email-input span {
    margin: 0 5px;
}

.email-input input, .email-input select {
    margin-right: 10px;
    margin-bottom: 0; /* Ensure there's no unnecessary bottom margin */
}

.email-input select {
    width: auto;
}
.pc-only {
    display: block;
}

.tab-only, .mobile-only {
    display: none;
}

@media (max-width: 1024px) {
    .pc-only {
        display: none;
    }
    .tab-only {
        display: block;
    }
}

@media (max-width: 768px) {
    .tab-only {
        display: none;
    }
    .mobile-only {
        display: block;
    }

    input[type="text"], input[type="email"], input[type="file"], select, textarea, input[type="submit"] {
        width: calc(100% - 20px);
        margin: 0 10px;
    }

    .phone-input input {
        width: calc(100% / 3 - 14px);
        margin: 0 5px;
    }

    .email-input input, .email-input select {
        width: calc(50% - 10px);
        margin: 0 5px;
    }
}
