/* home.css */
main {
    padding: 20px 0;
    background-color: #000;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    width: 60%; /* 이미지 컨테이너의 너비를 60%로 설정하여 페이지의 60% 안에 들어가도록 함 */
    margin-bottom: 20px; /* 이미지 사이에 간격을 줌 */
    overflow: hidden; /* 넘치는 이미지 부분을 숨김 */
}

.image-container img {
    width: 100%; /* 이미지의 너비를 100%로 설정하여 부모 요소의 너비에 맞게 조절 */
    height: auto; /* 이미지의 높이를 자동으로 설정하여 비율을 유지 */
}

.images img {
    margin-bottom: 20px;
}

/* 이미지 너비 옵션 */
.images img.width-80 {
    width: 80%;
}

.images img.width-100 {
    width: 100%;
}

.content {
    width: 60%;
    margin: 0;
    align-items: center;
    text-align: center;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .images img.width-80,
    .images img.width-100 {
        width: 100%;
    }

    .content {
        width: 100%;
        padding: 0 10px;
    }
}
