/* home.css */
main {
    padding: 20px 0;
    background-color: #000;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-container {
    width: 60%; /* 이미지 컨테이너의 너비를 60%로 설정하여 페이지의 60% 안에 들어가도록 함 */
    margin-bottom: 20px; /* 이미지 사이에 간격을 줌 */
}

.images img {
    margin-bottom: 20px;
}

/* 이미지 너비 옵션 */
.images img.width-80 {
    width: 80%;
}

.images img.width-100 {
    width: 100%;
}
.images img.width-60 {
    width: 60%;
}

.content {
    width: 60%;
    margin: auto;
    align-items: center;
}